/*
.owl-carousel{
 padding: 30px 0;
 position: relative;
 color: white;



    .owl-next span, .owl-prev span {
        padding: 10px 20px;
        font-size: 80px;
        position: absolute;
    }

    .owl-next span {
        top: 35%;
        right: -80px;
    }
    .owl-prev span {
        top: 35%;
        left: -80px;
    }

    .owl-dots{
        .owl-dot{

        border: 1px solid $primary;
        width: 12px;
        height: 12px;
        margin: 5px;
        }
        .active{
            background: $primary;
            border: 1px solid $primary;
            
         }
    }

    
     .owl-nav {
        display: none !important;
    }
       


}
*/
    

 