html,
body {
  height: 100%;
  //background-color: #333 !important;
  font-family: $font-primary;
  font-size: $font-size;
  color: $primary;
  
}


 /*
body {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
  //justify-content: center;
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
  
}

.cover-container {
  //max-width: 42em;
}
*/